[pylint.messages control]
disable = missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    invalid-name,
    ungrouped-imports,
    line-too-long,
    unused-import,
    useless-parent-delegation,
    no-member,
    import-error,
    wrong-import-position,
    pointless-string-statement,
    no-name-in-module,
    unspecified-encoding,
    trailing-whitespace,
    unused-argument,
    use-maxsplit-arg,
    subprocess-run-check,
    redefined-outer-name,
    protected-access,
    multiple-imports,
    no-value-for-parameter,    
    unexpected-keyword-arg,
    redefined-builtin,
    f-string-without-interpolation,
    global-statement,
